{% extends 'TSEPSearchBundle::layout.html.twig' %}

{% block body %}
<h2>Search Page</h2>

<form action="#" method="post"}}>
	{{ form_widget(form) }}
	
    <input type="submit" />
</form>

{% endblock %}