{% extends 'TSEPAdminBundle::login.html.twig' %}

{% block login_box %}
    <form action="{{ path("fos_user_security_check") }}" method="post">
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th>Username</th>
                <td><input type="text" class="login-inp" id="username" name="_username" value="{{ last_username }}" /></td>
            </tr>
            <tr>
                <th>Password</th>
                <td><input type="password" id="password" name="_password" class="login-inp" /></td>
            </tr>
            <tr>
                <th></th>
                <td valign="top"><input type="checkbox" class="checkbox-size" id="remember_me" name="_remember_me" value="on" /><label for="remember_me">Remember me</label></td>
            </tr>
            <tr>
                <th></th>
                <td><input type="submit" id="_submit" name="_submit" class="submit-login"  /></td>
            </tr>
        </table>
    </form>
{% endblock %}
