{% extends 'TSEPAdminBundle::admin.html.twig' %}

{% block content %}
    <h1>Welcome!</h1>
    
    TSEP AdminPanel.
    
    <a href="{{ path('admin_page') }}">Pages Controller</a>
    <a href="{{ path('admin_profile') }}">Profile Controller</a>
{% endblock %}
